# --- Tes règles personnalisées ---
# Exclure le répertoire temp
temp/

# Exclure tous les fichiers .zip (récursif)
*.zip

# Exclure les fichiers finissant par _old avant l'extension
*_old.*

# --- VS Code ---
# Ignore les paramètres locaux de l'éditeur, l'historique et les extensions recommandées
.vscode/
.history/
*.code-workspace

# --- Windows (Optionnel mais conseillé) ---
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# --- Python / Odoo (Si tu travailles dessus) ---
__pycache__/
*.py[cod]